<div class="modal">
  <div class="dlt-modal-window__header">
    <button data-modal-close aria-label="close" class="dlt-button dlt-button-icon dlt-modal-window__close dlt-icon-sm" (click)="onNoClick()">
      <i class="dlt-icon-close dlt-icon"></i>
    </button>
    <h3 id="modal-header-readonly" class="dlt-modal-window__title">
      Add user
    </h3>
  </div>
  <div class="dlt-modal-window__content" id="modal-content-readonly">
     <input type="text" class="dlt-text-input" placeholder="user id" [(ngModel)]="ref">
  </div>
  <div class="dlt-modal-window__footer" style="justify-self: flex-end">
    <button class="dlt-button dlt-button-primary" data-modal-prime-focus (click)="add()"><i class="dlt-icon-add-user"></i> Add</button>
  </div>
</div>
