<mat-card>
  <div style="float: right; margin-top: -30px; margin-right: -30px"><fa-icon class="icon" [icon]="faTimes" size="1x" (click)="onNoClick()"></fa-icon></div>
  <mat-card-title><h3>Add Registry</h3></mat-card-title>
  <form [formGroup]="form">
  <mat-card-content style="display: flex; flex-direction: column">
      <mat-form-field>
        <mat-label matLabel>registry name</mat-label>
        <input matInput type="text" placeholder="No spaces or special characters" formControlName="name" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>description</mat-label>
        <textarea matInput placeholder="Optional description for your registry" formControlName="description"></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Type</mat-label>
        <mat-select formControlName="type" required>
          <mat-option value="private">Private</mat-option>
          <mat-option value="public">Public</mat-option>
        </mat-select>
      </mat-form-field>
    <mat-form-field>
      <mat-label>Trust</mat-label>
      <mat-select formControlName="trustLevel" required>
        <mat-option value="0">None - Wild west, anyone can upload</mat-option>
        <mat-option value="1">Moderate - Some packages verified</mat-option>
        <mat-option value="2">Total - All packages verified</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-checkbox formControlName="isDefault" (click)="toggleIsDefault()">
      <span style="color: lightgray">Make default registry</span>
    </mat-checkbox>
    <button mat-raised-button (click)="submit()" color="accent" [disabled]="!form.valid" style="margin-top: 50px"><fa-icon [icon]="faBook"></fa-icon> Add</button>
    <p *ngIf="failed" style="font-size: small; color: red">Failed to add registry, sorry!</p>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
  </form>
</mat-card>


