<section id="form_modal" role="dialog" tabindex="1" ria-modal="true">
  <div class="dlt-modal-window__container" style="opacity: 100%">
    <div class="dlt-modal-window__header">
      <button data-modal-close aria-label="close" class="dlt-button dlt-button-icon dlt-modal-window__close dlt-icon-sm" (click)="close()">
        <i class="dlt-icon-close dlt-icon"></i>
      </button>
      <h3 id="modal-header-readonly" class="dlt-modal-window__title">
        Add Package
      </h3>
    </div>
    <div class="dlt-modal-window__content" id="modal-content-readonly">
    <form [formGroup]="form">
      <fieldset>
        <legend>Info</legend>
        <div class="dlt-form-item lg-input">
          <label class="dlt-form-label" for="registryName">Name</label>
          <div class="dlt-form-group">
            <input id="registryName" class="dlt-text-input" type="text" placeholder="No spaces or special characters" formControlName="name" required>
            <button class="clear-icon" type="button"><i class="dlt-icon-close"></i></button>
          </div>
        </div>
        <div class="dlt-form-item lg-input">
          <label class="dlt-form-label" for="description">Description</label>
          <div class="dlt-form-group">
            <textarea id="description" rows="2" cols="80" class="dlt-textarea" placeholder="Optional description for your package" formControlName="description"></textarea>
            <button class="clear-icon" type="button"><i class="dlt-icon-close"></i></button>
          </div>
        </div>
        <div class="dlt-form-item lg-input">
          <label class="dlt-form-label" for="homePage">Home page</label>
          <div class="dlt-form-group">
            <input id="homePage" class="dlt-text-input" type="text" placeholder="Url" formControlName="homePage">
            <button class="clear-icon" type="button"><i class="dlt-icon-close"></i></button>
          </div>
        </div>
        <div class="dlt-form-item lg-input">
          <label class="dlt-form-label" for="select-input-1">Category</label>
          <div class="dlt-form-group select-arrow-icon">
            <select class="dlt-select-input dlt-single-select" data-placeholder="Select category" id="select-input-1" formControlName="category" required>
              <option value="utility">Utility</option>
              <option value="webapp">Web app</option>
              <option value="connector">Connector</option>
              <option value="adapter">Adapter</option>
              <option value="example">Example</option>
              <option value="api">API</option>
              <option value="soap">Web Services</option>
              <option value="iot">IoT Connector</option>
              <option value="b2b">B2B</option>
              <option value="analytics">Analytics</option>
              <option value="monitoring">Monitoring</option>
              <option value="bpm">BPM</option>
              <option value="orchestration">Orchestration</option>
              <option value="mapping">Mapping</option>
              <option value="rules">Rules</option>
            </select>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend>Git repository</legend>
        <div class="dlt-form-item lg-input">
          <label class="dlt-form-label" for="gitUrl">Git code URL</label>
          <div class="dlt-form-group">
            <input id="gitUrl" class="dlt-text-input" type="text" placeholder="URL" formControlName="source" required>
            <button class="clear-icon" type="button"><i class="dlt-icon-close"></i></button>
          </div>
        </div>
        <div class="dlt-form-item lg-input">
          <label class="dlt-form-label" for="sourcePath">Package folder</label>
          <div class="dlt-form-group">
            <input id="sourcePath" class="dlt-text-input" type="text" placeholder="Path" formControlName="sourcePath">
            <button class="clear-icon" type="button"><i class="dlt-icon-close"></i></button>
          </div>
        </div>
        <div class="dlt-form-item lg-input">
          <div class="dlt-checkbox">
            <div class="dlt-form-group">
              <input type="checkbox" id="requiresAuth" formControlName="requiresAuthentication" (click)="toggleRequireAuth()">
              <label for="requiresAuth">Source requires authentication</label>
            </div>
          </div>
        </div>
        <div *ngIf="registry.type == 'private' && requiresAuthenticationCtrl.value == true; else notapplicable" class="dlt-form-item lg-input">
          <label class="dlt-form-label" for="private">Permissions</label>
          <div class="dlt-form-group">
            <select id="private" class="dlt-select-input" formControlName="private" required>
              <option value=false>Everybody</option>
              <option value=true>Specific users only ({{user()}})</option>
            </select>
          </div>
        </div>
        <ng-template #notapplicable>
          <p *ngIf="registry.type != 'private'" style="color: gray; font-style: italic; height: 60px;">not applicable, registry is public</p>
          <p *ngIf="registry.type == 'private' && !requiresAuthenticationCtrl.value" style="color: gray; font-style: italic; height: 60px">Git repository is public, doesn't make any sense to secure it here</p>
        </ng-template>
      </fieldset>
      <button class="dlt-button dlt-button-primary" (click)="submit()" [disabled]="!form.valid" style="float: right; margin-top: 20px"><i class="dlt-icon-plus-circle dlt-icon-lg"></i> Add</button>
      <p *ngIf="failed" style="font-size: small; color: red">Failed to add package, sorry!</p>
  </form>
    </div>
  </div>
</section>


