<div>
  <div class="header-wrap">
    <header class="no-margin no-padding main-head">
      <a class="brand" href="/">
        <div style="display: inline-flex;">
          <img src="assets/_images/logo-package-manager.svg" height="32px" style="margin-top: 10px"/>
        </div>
      </a>
      <div class="wrapper" style="margin-left:auto; margin-right:12px;">
        <legend class="dlt-links" style="margin-right: 40px; margin-top: 10px">{{pageTitle()}}</legend>
      </div>
      <div class="dlt-tab-bar" style="width: 150px">
        <ul role="tablist" class="dlt-tab-nav">
          <li role="presentation">
            <a href="#" class="dlt-tab-link dlt-tab-item dlt-tab-link-selected" [ngClass]="classForPackagesLink()" (click)="showPackages()" style="margin-right: 8px"><i class="dlt-icon-package dlt-icon-lg" style="padding: 8px"></i></a>
            <a href="#" class="dlt-tab-link dlt-tab-item" [ngClass]="classForRegistriesLink()" (click)="showRegistries()"><i class="dlt-icon-packages dlt-icon-lg" style="padding: 8px"></i></a>
          </li>
        </ul>
      </div>
       <div class="dlt-dropdown">
        <button class="dlt-button dlt-button-icon dlt-button-tertiary-dark" style="margin-left: 20px; margin-right: 20px">
          <i class="dlt-icon-profile dlt-icon-lg"></i>
        </button>
        <div class="dlt-overflow-menu">
          <legend class="dlt-overlay-menu-group-label">{{menuTitle()}}</legend>
          <div class="solid-line"></div>
          <a href="/WxPackageManager/about.html#about">Help</a>
          <a *ngIf="isConnected()">
            <span (click)="showSettingsPanel()">Settings</span>
          </a>
          <a *ngIf="!isConnected()">
            <span (click)="showConnectDialog()">Connect</span>
          </a>
          <a *ngIf="isConnected()">
            <span (click)="disconnect()">Disconnect</span>
          </a>
        </div>
      </div>
    </header>
  </div>
  <div class="fit-screen" style="top: 64px; left: 20px; right: 20px; bottom: 20px;">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</div>
  <div *ngIf="isConnectionPanelOpen">
    <app-login-page (loginModalClose)="onConnectionDialogClose($event)"></app-login-page>
  </div>
