<div>
  <div class="toolbar" style="height: 64px; background-color: #1776BF; justify-content: space-between">
    <a routerLink="/"><img src="assets/_images/wm-package-manager.svg" height="64px"/></a>
    <div style="display: inline-flex; padding-top: 20px; line-height: 27px">
      <h3 style="color: lightsteelblue">{{pageTitle()}}</h3>
      <fa-icon [matMenuTriggerFor]="menu" [icon]="faCog" size="lg" style="color: white; padding-left: 20px; padding-right: 20px"></fa-icon>
      <mat-menu #menu="matMenu">
        <button *ngIf="!isOnRegistryPage()" mat-menu-item (click)="showRegistries()" style="color: white"><fa-icon [icon]="faListAlt"></fa-icon> Registries </button>
        <mat-divider *ngIf="!isOnRegistryPage()"></mat-divider>
        <button *ngIf="isConnected()" mat-menu-item>
          <span style="color: white" (click)="disconnect()"><fa-icon [icon]="faUserSlash"></fa-icon> Disconnect</span>
        </button>
        <button *ngIf="!isConnected()" mat-menu-item>
          <span style="color: white" (click)="showConnectDialog()"><fa-icon [icon]="faUser"></fa-icon> Connect</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item [disabled]="!isConnected()">
          <span [ngStyle]="colorForSettingsMenu()" (click)="showSettingsPanel()"><fa-icon [icon]="faTools"></fa-icon> Settings</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item>
          <a href="/WxPackageManager/api" style="color: white"><fa-icon [icon]="faLifeRing"></fa-icon> API docs</a>
        </button>
        <button mat-menu-item *ngIf="isAdministrator()">
          <a href="/WxPackageManager/help.html" style="color: white"><fa-icon [icon]="faBrain"></fa-icon> Help</a>
        </button>
      </mat-menu>
    </div>
  </div>
  <div class="page-wrapper">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</div>
