<div class="modal">
  <div class="dlt-modal-window__header">
    <button data-modal-close aria-label="close" class="dlt-button dlt-button-icon dlt-modal-window__close dlt-icon-sm" (click)="onNoClick()">
      <i class="dlt-icon-close dlt-icon"></i>
    </button>
    <h3 id="modal-header-readonly" class="dlt-modal-window__title">
      {{ref}}
    </h3>
  </div>
  <div class="dlt-modal-window__content" id="modal-content-readonly">
    <div class="dlt-radio-button-group" [(ngModel)]="isPackageList" (change)="toggleListType()">
      <fieldset>
        <legend class="dlt-radio-button-group-label">Select Notification type</legend>
        <div class="dlt-radio-button-group-horizontal">
          <div class="dlt-radio-button">
            <input type="radio" name="type" id="radio-1" checked>
            <label for="radio-1">Registry</label>
          </div>
          <div class="dlt-radio-button">
            <input type="radio" name="type" id="radio-2">
            <label for="radio-2">Package</label>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="dlt-form-item lg-input">
      <label class="dlt-form-label">Notify on</label>
      <div class="dlt-form-group select-arrow-icon">
        <select id="select-input" class="dlt-select-input" [(ngModel)]="selectedItem">
          <option [value]="null">Please select</option>
          <option *ngFor="let i of items" [value]="i">{{i}}</option>
        </select>
      </div>
    </div>
    <div class="dlt-modal-window__footer" style="justify-self: flex-end">
      <button class="dlt-button dlt-button-primary" data-modal-prime-focus (click)="confirm()" [disabled]="!selectedItem"><i class="dlt-icon-play"></i>
        Confirm
      </button>
    </div>
  </div>
</div>
