<div class="modal">
  <div class="dlt-modal-window__header">
    <button data-modal-close aria-label="close" class="dlt-button dlt-button-icon dlt-modal-window__close dlt-icon-sm" (click)="onNoClick()">
      <i class="dlt-icon-close dlt-icon"></i>
    </button>
    <h3 id="modal-header-readonly" class="dlt-modal-window__title">
      Move package from one registry to another
    </h3>
  </div>
  <div class="dlt-modal-window__content" id="modal-content-readonly">
    <div class="dlt-form-item lg-input">
      <label class="dlt-form-label" for="select-input-6">{{ref}} ?</label>
      <div class="dlt-form-group">
        <select id="select-input-6" class="dlt-single-select" [(ngModel)]="registry">
          <option>None</option>
          <option *ngFor="let r of registries" [value]="r.name">{{r.name}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="dlt-modal-window__footer" style="justify-self: flex-end">
    <button class="dlt-button dlt-button-primary" data-modal-prime-focus (click)="confirm()" [disabled]="!registry"><i class="dlt-icon-play"></i>
      Confirm
    </button>
  </div>
</div>
