<section id="form_modal" role="dialog" tabindex="1" ria-modal="true">
  <form [formGroup]="form" name="login">
  <div class="dlt-modal-window__container" style="opacity: 100%">
    <div class="dlt-modal-window__header">
    </div>
    <div class="dlt-modal-window__content">
      <img src="assets/_images/sag-primary-logo-dark-rgb.png" style="width: 200px">
      <h1>webMethods Package Manager</h1>
      <h2>Login using your {{isEmpowerLoginCtrl.value == true ? 'Empower' : 'local'}} credentials</h2>
      <div style="height: 40px">
        <div *ngIf="isEmpowerLoginCtrl.value === true">
          <h3>Don't have an account? <a class="dlt-links" style=" font-size: small" href="https://empower.softwareag.com/register/" target="register">Sign up here</a></h3>
        </div>
      </div>
      <div class="form-group" style="display: flex; flex-direction: column; padding: 20px">
          <label style="color: gray; font-size: 14px">Username</label>
          <input class="login-field" style="width: 100%" type="text" autofocus formControlName="username" [ngClass]="{ 'is-invalid': submitted && userCtrl.errors }" />
          <div *ngIf="submitted && userCtrl.errors" class="invalid-feedback">
            <div *ngIf="userCtrl.errors.required">Username is required</div>
          </div>
        </div>
        <div class="form-group" style="display: flex; flex-direction: column; padding: 20px; height: 90px">
          <label style="color: gray; font-size: 14px">Password</label>
          <input class="login-field" style="width: 100%" type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && passwordCtrl.errors }" />
          <div *ngIf="submitted && passwordCtrl.errors" class="invalid-feedback">
            <div *ngIf="passwordCtrl.errors.required">Password is required</div>
          </div>
        </div>
        <div class="form-group" style="display: flex; flex-direction: column; padding: 20px">
          <div style="width: 100%">
            <p *ngIf="failed" style="color: red; font-size: smaller">Login failed</p>
          </div>
        </div>
    </div>
    <div class="dlt-modal-window__footer">
      <div style="float: left;">
        <div *ngIf="isEmpowerConnectionAvailable" class="dlt-fieldset sm-switch">
          <h4>Login type</h4>
          <div class="dlt-switch-item">
            <input value="empower" class="dlt-switch-input" id="empower-button" type="checkbox" formControlName="isEmpowerLoginCtrl" name="login" aria-label="login type">
            <label class="dlt-switch-text" for="empower-button">
              <span class="dlt-switch-appearance dlt-on-off"></span>
              <span class="on">Empower</span>
              <span class="off">local</span>
            </label>
          </div>
        </div>
      </div>
      <button class="dlt-button dlt-button-primary" style="float: right; margin-left: 20px; margin-right: 20px; width: 120px; text-align: center" autofocus data-modal-prime-focus [disabled]="connecting" [ngStyle]="styleForConnectButton()" (click)="connect()">
        <div *ngIf="connecting; else connectLabel" class="dlt-loader--circular dlt-loader--sm dlt-loader__text--right" aria-live="polite"
             aria-busy='false' aria-label="Loading">
          <svg class="dlt-loader--circular-indeterminate">
            <circle class="spinner" cx="50%" cy="50%" r="50%" role="progressbar" />
          </svg>
          <div class="dlt-loader__text" style="height: 30px; vertical-align: middle">
            <p style="line-height: 30px; font-size: smaller">Connecting...</p>
          </div>
        </div>
        <ng-template #connectLabel>
          <i class="dlt-icon-deploy dlt-icon-sm dlt-icon"></i> Connect
        </ng-template>
      </button>
      <button class="dlt-button dlt-button-secondary" (click)="cancel()">
        Cancel
      </button>
    </div>
  </div>
  </form>
</section>
