<div class="modal">
  <div class="dlt-modal-window__header" style="position: absolute; top: 10px; left: 10px; right: 10px">
    <button data-modal-close aria-label="close" class="dlt-button dlt-button-icon dlt-modal-window__close dlt-icon-sm" (click)="onNoClick()">
      <i class="dlt-icon-close dlt-icon"></i>
    </button>
    <h3 id="modal-header-readonly" class="dlt-modal-window__title">
      Users
    </h3>
  </div>
  <div class="dlt-modal-window__content" id="modal-content-readonly" style="position:absolute; top: 50px; left: 10px; right: 10px; bottom: 10px">
    <ul class="dlt-list" role="listbox" aria-labelledby="users">
      <li class="dlt-list-item" role="option" aria-selected="false" style="height: 70px">
        <span class="dlt-list-item__icon dlt-icon-group" aria-hidden="true"></span>
        <span class="dlt-list-item__text" style="color: gray">All users</span>
        <div class="dlt-list-item__actions" style="display: inline-flex">
          <button *ngIf="!syncAll" class="dlt-button dlt-button-icon" (click)="syncAllUsers()" aria-label="sync deploy key"><i class="dlt-icon-key dlt-icon"></i></button>
          <div class="dlt-loader--circular dlt-loader--sm dlt-loader__text--right" aria-live="polite" aria-busy='false' aria-label="Loading">
            <svg *ngIf="syncAll" class="dlt-loader--circular-indeterminate">
              <defs>
                <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
                  <stop offset="0%" class="dlt-loader--color-gradient-start"/>
                  <stop offset="100%" class="dlt-loader--color-gradient-end" />
                </linearGradient>
              </defs>
              <circle class="spinner" cx="50%" cy="50%" r="50%" stroke="url(#gradient)" role="progressbar" />
            </svg>
          </div>
          <button class="dlt-button dlt-button-icon" disabled=true><i class="dlt-icon"></i></button>
        </div>
      </li>
      <li class="dlt-list-item" role="option" aria-selected="false" *ngFor="let user of users">
        <span class="dlt-list-item__icon dlt-icon-profile" aria-hidden="true"></span>
        <span class="dlt-list-item__text" [ngStyle]="styleForUserLabel(user)">{{truncate(user)}}</span>
        <div class="dlt-list-item__actions" style="display: inline-flex">
          <button *ngIf="syncUser !== user" class="dlt-button dlt-button-icon" (click)="syncDeployKey(user)" aria-label="sync deploy key"><i class="dlt-icon-key dlt-icon"></i></button>
          <div  class="dlt-loader--circular dlt-loader--sm dlt-loader__text--right" aria-live="polite" aria-busy='false' aria-label="Loading">
            <svg *ngIf="syncUser === user" class="dlt-loader--circular-indeterminate">
              <defs>
                <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
                  <stop offset="0%" class="dlt-loader--color-gradient-start"/>
                  <stop offset="100%" class="dlt-loader--color-gradient-end" />
                </linearGradient>
              </defs>
              <circle class="spinner" cx="50%" cy="50%" r="50%" stroke="url(#gradient)" role="progressbar" />
            </svg>
          </div>
          <button class="dlt-button dlt-button-icon" (click)="removeUser(user)" aria-label="remove user"><i class="dlt-icon-delete dlt-icon"></i></button>
        </div>
      </li>
    </ul>
  </div>
</div>
