<div style="margin-top: 20px; margin-right: 20px">
  <div *ngIf="package" style="float:right; line-height: 30px;">
    <span style="font-size: small; color: lightgray">votes </span>
    <span style="font-size: small; color: green;">{{package.upVotes-package.downVotes}}</span><span style="font-size: small">(</span>
    <i class="dlt-icon-thumbs-up" style="color: green; font-size: small" (click)="upVote()"> +{{package.upVotes}} /</i>
    <i class="dlt-icon-thumbs-down" style="margin-left: 10px; color: red; font-size: small" (click)="downVote()"> -{{package.downVotes}}</i>
    <span style="font-size: small">)</span>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="dlt-breadcrumbs lg-breadcrumb">
      <li><a href="" (click)="goBack()" class="dlt-links">Packages</a></li>
      <li aria-current="page">{{packageName}}</li>
    </ol>
  </nav>
</div>
<div class="fit-screen" style="top: 60px">
  <ng-template *ngIf="package == null; else loaded">
    Loading....
  </ng-template>
  <ng-template #loaded>
    <div style="display: flex; flex-direction: row; align-items: stretch; justify-content: space-between; width: 100%; padding: 20px; overflow-y: auto">
      <div style="width: 60%; padding: 20px; padding-top: 0px; overflow-y: auto">
        <h1 style="color: gray; line-height: 62px; vertical-align: middle">README.md</h1>
        <hr style="width: 100%"/>
        <markdown [data]="markdown" (load)="onLoad($event)" (error)="onError($event)"></markdown>
      </div>
      <div style="display: flex; flex-direction: column; align-items: stretch; justify-content: flex-start; padding: 10px; overflow-y: auto">
        <div>
          <h4 style="color: gray;">Home Page</h4>
          <i class="dlt-icon-home dlt-icon" style="padding-right: 10px;"></i><a href="{{package.homePage}}"> {{package.homePage}}</a>
          <div *ngIf="isConnected()" style="float: right; display: flex; flex-direction: column; margin-top: -10px">
            <div  style="display: inline-flex; padding: 10px">
              <fa-icon matListIcon class="icon" [icon]="iconForNotifications()" [style]="colorForNoticationsButton()" style="margin-right: 15px"></fa-icon>
              <div class="dlt-switch-item">
                <input class="dlt-switch-input" id="notify-button" type="checkbox" [(ngModel)]="alertMe" (change)="toggleNotifications()" aria-label="notify me">
                <label class="dlt-switch-text" for="notify-button">
                  <span class="dlt-switch-appearance dlt-on-off"></span>
                  <span class="on"></span>
                  <span class="off"></span>
                </label>
              </div>
            </div>
          </div>
          <hr style="width: 100%"/>
        </div>

        <!-- package stats -->
        <div *ngIf="downloadsStats.length > 0" style="padding-top: 30px">
          <h4 style="color: gray">Package Statistics</h4>
          <div style="min-height: 100px; display: inline-flex; justify-content: flex-start; align-items: flex-end; padding: 20px">
            <div *ngFor="let col of downloadsStats" style="display: flex; flex-direction: column; justify-content: flex-end; text-align: center;">
              <div style="display: inline-flex; justify-content: space-between; align-items: flex-end; border-bottom: 1px solid gray; margin-bottom: 10px; padding-right: 10px">
                <div style="padding-left: 5px;">
                  <p *ngIf="col.value > 0" style="font-size: 8px; color: gray">{{col.value}}</p>
                  <img src="assets/_images/pixel_green.gif" width="14" height="{{col.scaledValue(100, this.maxDownloadValue)}}" alt="{{col.value}}"/>
                </div>
              </div>
              <div style="margin-left: -10px; height: 40px; transform: rotate(60deg); font-size: x-small">{{col.label}}</div>
            </div>
          </div>
          <hr/>
        </div>

        <!-- INFO -->
        <div style="padding-top: 30px">
          <h4 style="color: gray">Info</h4>
          <fa-icon matListIcon class="icon" [icon]="faInfoCircle" style="padding-right: 10px"></fa-icon>{{authType()}}<span style="color: gray"> {{package.category}} package registered by </span>{{package.owner}}
          <div style="display: inline-flex; justify-content: space-between; align-items: flex-start; margin-top: 10px">
            <div>
              <div style="display: inline-flex; width: 100%; justify-content: flex-start">
                <div style="display: flex; flex-direction: column; width: 150px">
                  <p style="color: lightgray; font-size: small"><fa-icon [icon]="faClock"></fa-icon> Registered</p>
                  <p style="font-weight: bold">{{package.registeredDate}}</p>
                </div>
                <div style="display: flex; flex-direction: column; width: 150px; align-items: flex-start">
                  <p style="color: lightgray; font-size: small"><fa-icon [icon]="faLongArrowAltDown"></fa-icon> Total downloads</p>
                  <p style="background-color: darkgray; color: white; min-width: 30px; border-radius: 4px; text-align: center; font-weight: bold">{{count(package.totalDownloads)}}</p>
                </div>
                <div style="display: flex; flex-direction: column; width: 150px; align-items: flex-start">
                  <p style="color: lightgray; font-size: small"><fa-icon [icon]="faLongArrowAltDown"></fa-icon> Recent</p>
                  <p style="background-color: black; color: white; min-width: 30px; border-radius: 4px; text-align: center; font-weight: bold">{{count(package.recentDownloads)}}</p>
                </div>
              </div>
            </div>
          </div>
          <hr/>
        </div>
        <!-- GIT -->
        <div style="padding-top: 30px">
          <h4 style="color: gray">Repository</h4>
          <a target="git" href="{{package.sourceUrl}}">
            <fa-icon matListIcon class="icon" [icon]="faGitAlt" style="margin-right: 10px"></fa-icon><fa-icon *ngIf="package.sourceIsPrivate" [icon]="faKey" style="color: lightgray"></fa-icon>
            {{package.sourceUrl}}
          </a>
          <div style="width: 100%; margin-top: 10px">
            <p *ngIf="package.sourcePath">
              <fa-icon [icon]="faFolder" style="color: lightgray"></fa-icon> {{package.sourcePath}}
            </p>
            <div *ngIf="gitInfo" style="display: inline-flex; justify-content: flex-start">
              <div style="display: flex; flex-direction: column; width: 150px">
                <p style="color: lightgray; font-size: small"><fa-icon [icon]="faClock"></fa-icon> Last updated</p>
                <p style="font-weight: bold">{{gitInfo.lastUpdated}}</p>
              </div>
              <div style="display: flex; flex-direction: column; width: 150px; align-items: flex-start">
                <p style="color: lightgray; font-size: small"><fa-icon [icon]="faBinoculars"></fa-icon> watchers</p>
                <p style="background-color: green; min-width: 30px; border-radius: 4px; color: white; text-align: center"> {{gitInfo.watchers}} </p>
              </div>
              <div style="display: flex; flex-direction: column; width: 150px; align-items: flex-start">
                <p style="color: lightgray; font-size: small"><fa-icon [icon]="faStar"></fa-icon> star gazers</p>
                <p style="background-color: pink; min-width: 30px; border-radius: 4px; color: white; text-align: center"> {{gitInfo.stargazers}} </p>
              </div>
            </div>
          </div>
          <hr/>
        </div>

        <!-- Versions -->
        <div style="padding-top: 30px">
          <h4 style="color: gray">Versions</h4>
          <div style="width: 100%; display: flex; flex-direction: row">
            <i class="dlt-icon-versions dlt-icon" style="padding-right: 10px;"></i>
            <ul class="dlt-tags" data-allow-delete style="display: inline-block" *ngIf="haveAvailableTags(); else notags">
              <li class="dlt-tags__item" *ngFor="let tag of this.package.trustedTags" (click)="showTagInfo(tag.tag, tag.when, tag.by, tag.signature)" style="background-color: lightblue" selected>{{tag.tag}}
                <i class="dlt-icon-check sm"></i>
              </li>
              <li class="dlt-tags__item" *ngFor="let tag of availableTags" (click)="showTagInfo(tag)">{{tag}}</li>
            </ul>
            <ng-template #notags>
              <ul class="dlt-tags"><li class="dlt-tags__item" style="background-color: lightgray" (click)="showTagInfo(null)">main</li></ul>
            </ng-template>
          </div>
          <hr/>
        </div>

        <!-- USERS -->

        <div *ngIf="isAdministrator()" style="padding-top: 30px">
          <h4 style="color: gray">Access</h4>
          <div style="display: flex; flex-direction: row; justify-content: flex-start;">
            <fa-icon matListIcon class="icon" [icon]="faUsers" style="padding-right: 10px;"></fa-icon>
            <div style="width: 100%">
              <div *ngIf="this.package.private; else alt" style="display: inline-flex; width: 80%; height: 50px; justify-content: flex-start">
                <ul class="dlt-tags" data-allow-delete style="display: inline-block">
                  <li class="dlt-tags__item" *ngFor="let u of first20Users()" selectable="false" selected>{{u}}
                    <div *ngIf="isAdministrator() && (u !== 'everybody' || this.package.private)" class="dlt-dropdown">
                      <button class="dlt-button dlt-button-icon button-icon-md"><i class="dlt-icon-more-menu dlt-icon-sm" style="color: darkgray; margin-right: 0px"></i></button>
                      <div class="dlt-overflow-menu sm-icon-button">
                        <a *ngIf="isAdministrator() && this.package.sourceIsPrivate" class="dlt-icon-key dlt-icon small" style="margin-right: -5px; padding-left: 5px; padding-right: 5px" (click)="syncDeployKey(u)"> Regenerate key</a>
                        <a *ngIf="isAdministrator() && u !== 'everybody'" class="dlt-icon-delete dlt-icon small" style="margin-right: -5px; padding-left: 5px; padding-right: 5px" (click)="removeUser(u)"> Remove access</a>
                      </div>
                    </div>
                  </li>
                  <p *ngIf="!users || users.length == 0" style="color: red; font-size: small; font-style: italic">Invisible package alert</p>
                  <li class="dlt-tags__item" *ngIf="remainderUsers() > 0" selected style="background-color: lightblue"  (click)="manageUsers()">+ {{remainderUsers()}} users </li>
                  <button class="dlt-tags__item" style="background-color: #7a15f5; color: white; border: 0px" *ngIf="isAdministrator()" (click)="addUser()">Add user <i *ngIf="isAdministrator()" class="dlt-icon-plus-circle dlt-icon small" style="margin-right: -5px; padding-left: 5px; padding-right: 5px"></i></button>
                </ul>
              </div>
              <ng-template #alt>
                <ul class="dlt-tags" style="display: inline-block">
                  <li class="dlt-tags__item" *ngIf="isAccessible()">
                    everybody <i *ngIf="this.package.sourceIsPrivate && isAdministrator()" class="dlt-icon-key dlt-icon small" style="margin-right: -5px;padding-left: 5px; padding-right: 5px" (click)="syncDeployKey('everybody')"></i>
                  </li>
                  <li class="dlt-tags__item" *ngIf="!isAccessible()" selected>
                    everybody <i *ngIf="isAdministrator()" class="dlt-icon-add-user dlt-icon small" style="margin-right: -5px; padding-left: 5px;padding-right: 5px" (click)="setUser('everybody')"></i>
                  </li>
                </ul>
              </ng-template>
            </div>
            <div style="float: right; display: inline-flex; padding: 10px">
              <i class="dlt-icon-password-show dlt-icon dlt-icon-lg" style="margin-top: -5px" aria-label="Toggle visibility"></i>
              <div class="dlt-switch-item">
                <input  class="dlt-switch-input" id="visibility-button" type="checkbox" [(ngModel)]="package.isVisible" (change)="toggleVisibility()" aria-label="visibility">
                <label class="dlt-switch-text" for="visibility-button">
                  <span class="dlt-switch-appearance dlt-on-off"></span>
                  <span class="on"></span>
                  <span class="off"></span>
                </label>
              </div>
            </div>
          </div>

        </div>
        <hr *ngIf="isAdministrator()" style="width: 100%"/>

        <!-- Buttons -->
        <div *ngIf="isAdministrator()" style="align-self: flex-end; display: inline-flex; align-content: flex-end; margin-top: 30px">
          <button class="dlt-button dlt-button-secondary" color="accent" style="margin-right: 20px" (click)="unregisterPackage()"> <fa-icon matListIcon class="icon" [icon]="faEraser" size="1x"></fa-icon> Remove</button>
          <button class="dlt-button dlt-button-secondary" (click)="migratePackage()"> <fa-icon matListIcon class="icon" [icon]="faRocket" size="1x"></fa-icon> Migrate</button>
        </div>
      </div>
    </div>
  </ng-template>
</div>

