<div style="width: 300px; min-height: 800px; margin-top: 30px; margin-left: auto; margin-right: auto; text-align: center">
  <h2 id="product_profile" style="text-align: center">Select your registry</h2>
  <div class="dlt-panel__lg dlt-panel__no-shadow bordered">
    <ul class="dlt-list" style="background-color: transparent" role="listbox" aria-labelledby="product_profile" data-allow-selection>
      <li class="dlt-list-item" role="option" *ngFor="let r of registries()" style="width: 300px">
        <span *ngIf="isPrivate(r)" class="dlt-list-item__icon dlt-icon-lock" (click)="showPackagesInRegistry(r)"></span>
        <span *ngIf="!isPrivate(r)" class="dlt-list-item__icon dlt-icon-globe" (click)="showPackagesInRegistry(r)"></span>
        <div class="dlt-list-item__text" style="width: 200px" (click)="showPackagesInRegistry(r)">{{r.name}}</div>
        <div *ngIf="r.default">
          <span class="dlt-list-item__icon dlt-icon-check dlt-icon-sm" style="margin-left: 20px; margin-right: 20px" (click)="showPackagesInRegistry(r)"></span>
        </div>
        <div *ngIf="!r.default && isAdministrator()" [ngClass]="classForIsDefaultAvailable(r)" class="dlt-dropdown">
          <button class="dlt-button dlt-button-icon button-icon-md" style="margin-left: 20px; margin-right: 20px"><i class="dlt-icon-more-menu"></i></button>
          <div class="dlt-overflow-menu" style="min-width: 150px; height: auto; margin-right: 0px">
            <a [ngClass]="classForIsDefaultAvailable(r)" (click)="setDefaultForRegistry(r)" ><i class="dlt-icon-check menu-icons"></i>Make default</a>
            <a class="disabled" (click)="editRegistry(r)"><i class="dlt-icon-edit menu-icons"></i>Edit</a>
            <div class="solid-line"></div>
            <a [ngClass]="classForIsDefaultAvailable(r)" (click)="removeRegistry(r)" ><i class="dlt-icon-delete menu-icons"></i>Delete</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <button *ngIf="isAdministrator()" class="dlt-button dlt-button-primary" style="margin-top: 30px" (click)="addRegistry()"><i class="dlt-icon-plus-circle dlt-icon-lg"></i>Add registry</button>
</div>
<app-add-registry *ngIf="addRegistryClicked" (onCompleted)="addRegistryCompleted($event)"></app-add-registry>
