<div class="modal">
  <div class="dlt-modal-window__header">
    <button data-modal-close aria-label="close" class="dlt-button dlt-button-icon dlt-modal-window__close dlt-icon-sm" (click)="onNoClick()">
      <i class="dlt-icon-close dlt-icon"></i>
    </button>
    <h3 id="modal-header-readonly" class="dlt-modal-window__title">
      {{tagName}} for {{package.packageName}}
    </h3>
  </div>
  <div class="dlt-modal-window__content" id="modal-content-readonly">
    <div class="dlt-tab-bar" style="min-height: 450px">
      <ul role="tablist" class="dlt-tab-nav">
        <li role="presentation">
          <a tabindex="0" id="tab-link-1" data-target=".tab-1" class="dlt-tab-link dlt-tab-link-selected"
             href="javascript:void(0)" role="tab" aria-selected="true">Package Manifest</a>
        </li>
        <li role="presentation">
          <a tabindex="1" id="tab-link-2" data-target=".tab-2" class="dlt-tab-link" href="javascript:void(0)"
             role="tab">Git info</a>
        </li>
      </ul>
      <div class="dlt-tab-panel dlt-tab-panel-open tab-1" role="tabpanel" aria-labelledby="tab-link-1"
           aria-hidden="false">
        <div *ngIf="tagInfo" style="display: flex; flex-direction: row; justify-content: flex-start; padding: 20px">
          <i class="dlt-icon-package dlt-icon-lg lg-icon-button" style="width: 60px; height: 60px;"></i>
          <div style="width: 100%">
            <p style="min-height: 50px">
              <span *ngIf="tagInfo" style="color: gray;"> {{tagInfo.manifest.description || "No description"}}</span>
            </p>
            <div style="display: flex; flex-direction: row">
              <div style="display: flex; flex-direction: column; min-width: 200px">
                <p style="color: lightgray; font-size: small"> version</p>
                <p style="font-weight: bold">{{tagInfo.manifest.version || '???'}}</p>
              </div>
              <div style="display: flex; flex-direction: column; min-width: 250px; align-items: flex-start">
                <p style="color: lightgray; font-size: small"> build</p>
                <p style="text-align: center; font-weight: bold">{{tagInfo.manifest.build}}</p>
              </div>
              <div style="display: flex; flex-direction: column; min-width: 200px; align-items: flex-start">
                <p style="color: lightgray; font-size: small"> webMethods version</p>
                <p style="text-align: center; font-weight: bold">{{tagInfo.manifest.targetWmVersion || tagInfo.manifest.sourceWmVersion}}</p>
              </div>
            </div>
            <div style="display: flex; flex-direction: column; min-width: 200px; align-items: flex-start; margin-top: 20px">
              <p style="color: lightgray; font-size: small"> Dependencies</p>
              <p *ngFor="let d of tagInfo.manifest.requires" style="text-align: center; font-weight: bold">{{d.package}} / {{d.version}}</p>
            </div>
          </div>
          </div>
      </div>
      <div class="dlt-tab-panel tab-2" role="tabpanel" aria-labelledby="tab-link-2" aria-hidden="true">
        <div *ngIf="tagInfo" style="display: flex; flex-direction: row; justify-content: flex-start; padding: 20px">
          <fa-icon matListIcon class="icon" [icon]="faGitAlt" size="2x" style="width: 60px; height: 60px;"></fa-icon>
          <div style="width: 100%">
            <p>
              <span style="color: gray"> {{tagInfo.message}}</span>
            </p>
            <div style="display: inline-flex; width: 100%; justify-content: flex-start">
              <div *ngIf="tagInfo.committer" style="display: flex; flex-direction: column; min-width: 200px">
                <p style="color: lightgray; font-size: small"><fa-icon [icon]="faUser"></fa-icon> By</p>
                <p style="font-weight: bold">{{tagInfo.committer.name}}</p>
              </div>
              <div *ngIf="tagInfo.committer"  style="display: flex; flex-direction: column; min-width: 250px; align-items: flex-start">
                <p style="color: lightgray; font-size: small"><fa-icon [icon]="faEnvelope"></fa-icon> email</p>
                <p style="text-align: center; font-weight: bold">{{tagInfo.committer.email}}</p>
              </div>
              <div *ngIf="tagInfo.committer"  style="display: flex; flex-direction: column; min-width: 200px; align-items: flex-start">
                <p style="color: lightgray; font-size: small"><fa-icon [icon]="faClock"></fa-icon> when</p>
                <p style="text-align: center; font-weight: bold">{{tagInfo.committer.date}}</p>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="isSigned(); else not_signed" style="display: flex; flex-direction: row; justify-content: flex-start; padding: 20px">
          <i class="dlt-icon-lg dlt-icon-cloud-checked" style="width: 60px; height: 60px;"></i>
          <div style="width: 100%">
            <div style="display: inline-flex; width: 100%; justify-content: flex-start">
              <div *ngIf="isSigned()" style="display: flex; flex-direction: column; min-width: 200px">
                <p style="color: lightgray; font-size: small"><fa-icon [icon]="faUser"></fa-icon> signed</p>
                <p style="font-weight: bold">{{isSigned() ? 'Yes' : 'No'}}</p>
              </div>
              <div *ngIf="isSigned()" style="display: flex; flex-direction: column; min-width: 250px; align-items: flex-start">
                <p style="color: lightgray; font-size: small"><fa-icon [icon]="faCheckCircle"></fa-icon> verified</p>
                <p style="text-align: center; font-weight: bold">{{isVerified() ? 'Valid' : 'failed' }}</p>
              </div>
              <div *ngIf="isSigned()" style="display: flex; flex-direction: column; min-width: 250px; align-items: flex-start">
                <p style="color: lightgray; font-size: small"><fa-icon [icon]="faQuestionCircle"></fa-icon> reason</p>
                <p style="text-align: center; font-weight: bold">{{tagInfo.verification.reason}}</p>
              </div>
            </div>
            <div>
              <p style="color: lightgray; font-size: small"><fa-icon [icon]="faSignature"></fa-icon> code signature</p>
              <textarea style="width: 100%; height: 100px; border: none; background-color: lightgoldenrodyellow" disabled="true">{{tagInfo.verification.signature == null ? 'none' : tagInfo.verification.signature}}</textarea>
            </div>
          </div>
        </div>
        <ng-template #not_signed>
          <div style="display: flex; flex-direction: row; justify-content: flex-start; padding: 20px">
            <i class="dlt-icon-lg dlt-icon-warning" style="width: 60px; height: 60px;"></i>
            <p style="padding-right: 30px; font-style: italic; color: red">This tag has not been digitally signed, hence you should not trust it as the code could be updated after!</p>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="dlt-modal-window__footer" style="justify-self: flex-end">
      <div style="display: flex; flex-direction: row; justify-content: space-between">
        <div>
          <div class="dlt-input-group">
            <label style="text-align: left; margin-top: -15px; font-size: small">Download command</label>
            <div class="dlt-form-item" style="padding-top: 0px">
              <div class="dlt-form-group">
                <input id="source" type="text" class="dlt-text-input" style="min-width: 400px" disabled="true" [value]="'wpm install' + (isDefaultRegistry ? ' ' :  ' -r ' + registryName + ' ') + (package.private ? '-a <access-token>' : '') + ' -t ' + tagName + ' ' + package.packageName">
              </div>
            </div>
            <button id="copy" class="dlt-button dlt-button-primary" onClick="navigator.clipboard.writeText(document.querySelector('#source').value)" style="height: 32px"><i class="dlt-icon-copy"></i></button>
            <button *ngIf="!package.private || !hasAccessToken" class="dlt-button dlt-button-secondary" style="margin-left: 0px; height: 32px" (click)="downloadPackage()"><i class="dlt-icon-download"></i></button>
          </div>
        </div>
        <div>
          <button *ngIf="isAdministrator() && trusted" class="dlt-button dlt-button-primary" style=" margin-top: 5px; float: right" (click)="removeTrust()"> <fa-icon matListIcon class="icon" [icon]="faThumbsDown" size="1x"></fa-icon> {{isSigned() ? "Remove trust" : "Remove" }} </button>
          <button *ngIf="isAdministrator() && !trusted" class="dlt-button dlt-button-primary" style=" margin-top: 5px; float: right" (click)="trust()"> <fa-icon matListIcon class="icon" [icon]="faThumbsUp" size="1x"></fa-icon> {{isSigned() ? "Trust" : "Accept" }} </button>
        </div>
    </div>
  </div>
  </div>
</div>
